*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: #1d1c1c;
    font-family: 'Gilam', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:46px ;
    margin-left: 30px;
}
.link{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 49px;
    text-decoration: none;
    color: #E4B564;
    margin-right: 32px;
    box-sizing: border-box;


}
.image-for-link{
   padding-right: 10px;
}

.iamge{

    width: 216px;
height: 33px;
}
.main-title{
    width: 700px;
    font-size: 50px;
    color: white;
    padding-top: 128px;
    line-height: 28px;
    margin-left: 29px;
}
.paragraph{
    color: white;
    width: 1182px;
    font-size: 20px;
    padding-top: 41px;
    padding-bottom: 41px;
  line-height: 28px ;
  margin-left: 30px;
}
.first-grid{
    display: grid;
    grid-template-columns: repeat(6 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: "i1 i1 i2 i2 i3 i3"
    "i4 i4 i4 i5 i5 i5";
    row-gap: 27px;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}
.item1{
background-color: #634F2C;
grid-area: i1;
width: 467px ;
height: 468px;
display: flex;
align-items: center;
justify-content: center;
}
.item2{
    background-color: #B4A385;
    grid-area: i2;
    width: 467px ;
height: 468px;
display: flex;
align-items: center;
justify-content: center;
}

.item3{
    background-color: #E4B564;
    grid-area: i3;width: 467px ;
    height: 468px;
    display: flex;
align-items: center;
justify-content: center;
}
.item4{
    background-color: #635A4A;
    grid-area: i4;
    width: 715px;
    height: 468px;
    display: flex;
align-items: center;
justify-content: center;
}
.item5{
    background-color: #B08C4D;
    grid-area: i5;
    width: 715px;
    height: 468px;
    display: flex;
align-items: center;
justify-content: center;
}
.second-title{
    font-size: 50px;
    color: white;
    padding-top: 161px;
    margin-left: 30px;
}
.technical-grid{
display: grid;
grid-template-rows: repeat(5 1fr);
grid-template-columns: repeat(6 1fr);
grid-template-areas:"grid1 grid1 grid2 grid2 grid3 grid3"
                    "grid1 grid1 grid2 grid2 grid6 grid6"
                    "grid4 grid4 grid2 grid2 grid6 grid6"
                    "grid4 grid4 grid5 grid5 grid6 grid6"
                    "grid4 grid4 grid5 grid5 grid7 grid7";
                    row-gap: 29px;
                    column-gap: 30px;
                    align-items: center;
                    justify-content: center;
                    padding-top: 94px;
                    padding-bottom: 192px;
                    font-size: 20px;


}
.technical-grid-1{
width: 467px;
height: 313px;
background-color: #0E0E0E;
grid-area: grid1;
color: white;
padding-top: 44px;
padding-left: 52px;
}
.technical-grid-2{
    width: 467px;
    height: 439px;
    background-color: #242424;
    grid-area: grid2;
    color: white;
    padding-top: 44px;
padding-left: 52px;
}
.technical-grid-3{
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
    grid-area: grid3;
    color: white;
    padding-top: 44px;
padding-left: 52px;
}
.technical-grid-4{
    width: 467px;
    height: 560px;
    background-color: #1F1F1F;
    grid-area: grid4;
    color: white;
    padding-top: 56px;
padding-left: 52px;
}
.technical-grid-5{
    width: 467px;
    height: 405px;
    background-color: #E4B564;
    grid-area: grid5;
    color: black;
    padding-top: 47px;
padding-left: 52px;
}
.technical-grid-6{
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    grid-area: grid6;
    color: white;
    padding-top: 44px;
padding-left: 48px;
}
.technical-grid-7{
    width: 467px;
    height: 277px;
    background-color: #0A0909;
    grid-area: grid7;
    color: white;
    padding-top: 44px;
padding-left: 48px;
}
.third-section{
    background-color: #0E0E0E;
    height: 1054px;
}
.third-title{
    color: white;
    font-size: 50px;
    width: 597px;
    height: 28px;
    margin-left: 30px;
}
.grid-projects{
    display: grid;
    grid-template-columns: repeat(3,487px);
    grid-template-rows: repeat(2,391px);
    grid-template-areas: "p1 p2 p3"
    "p4 p5 p6";
    padding-top: 72px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.grid-projects-1{
    background-color: #634F2C;
    grid-area: p1;
    height: 391px;
    width: 487px;
    padding-top: 171px;
}
.grid-projects-2{
    background-color: #E8D2ABC2;
    grid-area: p2;
    height: 391px;
    width: 487px;
    color: white;
    padding-top: 171px;
}
.grid-projects-3{
    background-color:#E4B564;
    grid-area: p3;
    height: 391px;
    width: 487px;
    padding-top: 171px;
}
.grid-projects-4{
    background-color: #635A4A;
    grid-area: p4;
    height: 391px;
    width: 487px;
    padding-top: 171px;
}
.grid-projects-5{
    background-color: #B08C4D;
    grid-area: p5;
    height: 391px;
    width: 487px;
    padding-top: 171px;
}
.grid-projects-6{
    background-color: #634F2C;
    grid-area: p6;
    height: 391px;
    width: 487px;
    padding-top: 171px; ;
}

.all-projects{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid #E4B564;
    padding: 10px 40px 10px 40px;
    color: #E4B564;
    margin-right: 32px;
    width: 180px;
}
.section-projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 172px;
}
